beautifulsoup4==4.4.1
blessings==1.6
bs4==0.0.1
CacheControl==0.11.6
cfscrape==1.6.5
click==6.6
click-log==0.1.4
coloredlogs==5.0
httplib2==0.9.2
humanfriendly==1.44.7
imdbpie==4.0.2
inquirer==2.1.7
lockfile==0.12.2
PlexAPI==2.0.2
PyExecJS==1.4.0
python-magic==0.4.12
pytvdbapi==0.5.0
PyYAML==3.11
readchar==0.7
requests==2.10.0
six==1.10.0
tabulate==0.7.5
